.headerSecondary {
  background-color: #232f3e;
  padding: 8px 1rem 13px;
}

.headerSecondary > .headerSecondary__left > a {
  color: white !important;
  font-size: 14px;
  margin-right: 1rem;
}

@media only screen and (max-width: 800px) {
  .headerSecondary > .headerSecondary__left > a {
    font-size: 12px;
    margin-right: 0.5rem;
  }
}
